<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div *ngFor="let field of fields" class="form-group">
    <label [for]="field.name">{{ field.label }}</label>

    <ng-container [ngSwitch]="field.type">
      <textarea
        *ngSwitchCase="'textarea'"
        [formControlName]="field.name"
        [id]="field.name"
      ></textarea>
      <input
        *ngSwitchCase="'checkbox'"
        type="checkbox"
        [formControlName]="field.name"
        [id]="field.name"
      />
      <select
        *ngSwitchCase="'select'"
        [formControlName]="field.name"
        [id]="field.name"
      >
        <option *ngFor="let opt of field.options" [value]="opt.value">
          {{ opt.label }}
        </option>
      </select>
      <input
        *ngSwitchDefault
        [type]="field.type"
        [formControlName]="field.name"
        [id]="field.name"
      />
    </ng-container>

    <div
      class="error"
      *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched"
    >
      <ng-container
        *ngFor="let errorKey of form.get(field.name)?.errors | keyvalue"
      >
        <small *ngIf="getErrorMessage(field, errorKey.key)">{{
          getErrorMessage(field, errorKey.key)
        }}</small>
      </ng-container>
    </div>
  </div>

  <div
    class="error"
    *ngIf="form.errors?.['passwordMismatch'] && (form.get('confirmPassword')?.touched || form.get('password')?.touched)"
  >
    <small>Passwords do not match.</small>
  </div>

  <button type="submit">Submit</button>
</form>
